.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-system);
  overflow: hidden;
  position: relative;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--bg-system);
}

.content {
  flex: 1;
  padding: 40px;
}
